/* html {
    height: 100vh;
    width: 100vw;
} */

body {
    margin: 0 20px;

}

header {
    background-color: skyblue;
}
main{
    background-color: orange;
}
footer{
    background-color: purple;
}