/* html {
    height: 100vh;
    width: 100vw;
} */

/* margin: top right bottom left */


header {
    background-color: skyblue;
}
.container{
    background-color: orange;
    height: 100vh;
    width: 200vw;
}
footer{
    background-color: purple;
}

h1, h2, p {
    margin: 0;
}