@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

p {
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Comic Neue', cursive;
}

mark {
    background-color:aqua;
}